/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/html_backup
.env.swp
admin-gcgl.php
storage/epub_temp/
storage/temp/
apple-app-site-association
.well-known
/public/logs.txt
app/Vars/to-ghana-exchage-rate.json