.layout-fixed .main-sidebar {
background: #212121;
font-family: 'Poppins', sans-serif !important;
}
.layout-fixed .wrapper .sidebar {
padding: 0;}
[class*=sidebar-dark] .brand-link, [class*=sidebar-dark] .brand-link .pushmenu {
color: #fff;
}
[class*=sidebar-dark-] .sidebar .nav-item a {
color: #fff;
font-weight: 500;
font-size: 16px;
width: 100% !important;
padding: 24px;
border-radius: 0;
margin: 0 !important;
border-bottom: 1px solid #666666;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
background: rgb(255 255 255 / 10%);
box-shadow: none;
}
[class*=sidebar-dark-] .sidebar a i {
width: 28px !important;
text-align: left !important;
}
[class*=sidebar-dark] .brand-link, [class*=sidebar-dark] .user-panel {
border-bottom: 1px solid #fff;
}
[class*=sidebar-dark] .brand-link span.brand-text {
font-size: 16px;
}
.bg-info {
background: #ca0a0a!important;
}


/*admin dashboard*/
.btn-primary {
    background: #CA0A0A;
    border-radius: 5px;
    border: 0;
    /* font-size: 14px; */
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {background-color: #212121 !important;}
.dataTables_wrapper table.dataTable tbody th, table.dataTable tbody td {
    padding: 20px 10px;
    vertical-align: middle;
}

.dataTables_wrapper a.btn.btn-sm.btn-success {
    border: 2px solid #212121;
    border-radius: 5px;
    background: #fff;
    color: #212121;
    font-size: 14px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #ca0a0a;
    color: #fff !important;
    border-color: #ca0a0a;
}
.dataTables_wrapper .badge-primary {
    border: 1px solid #212121;
    border-radius: 5px;
    background: #fff;
    color: #212121;
}
.content-header h1 {
    font-size: 20px;
    font-weight: 400;
    color: #212121;
}

.content-wrapper {
    font-family: 'Poppins', sans-serif !important;
    color: #212121;
}
footer.main-footer {
    font-size: 14px;
}

footer.main-footer strong {
    font-weight: 400;
}

footer.main-footer strong a {
    color: #212121;
    font-weight: 400;
}

.float-right.d-none.d-sm-inline-block, footer.main-footer b {
    color: #212121;
    font-weight: 400;
}

.btn-group a.btn.btn-xs.btn-primary {
    border: 0;
    border-radius: 5px;
    background: #CA0A0A;
}
button.btn.btn-md.btn-primary {
    background: #CA0A0A;
    border-radius: 5px;
    border-color: #CA0A0A;
    font-size: 14px;
    height: 38px;
}
a.status_deactivate {
    font-size: 14px;
    color: #ca0a0a;
}
a.status_activate {
    font-size: 14px;
    color: #28a745;
}

.badge-secondary {
    color: #fff;
    background-color: #ca0a0a;
}


.nav-sidebar .nav-item>.nav-link .right:before {
    display: none;
}

.nav-sidebar .nav-item>.nav-link .right:after {
    position: absolute;
    content:'';
    right: 5px;
    left: auto;
    top: 16px;
    bottom: auto;
    /*background: url(https://gcgl.dci.in/public/ddown.png);*/
    width: 16px;
    height: 16px;
    transition: .3s all ease-in-out;
}

.nav-sidebar .menu-is-opening>.nav-link i.right, .nav-sidebar .menu-open>.nav-link i.right {
    transform: none !important;
}

.nav-sidebar .nav-item.menu-open>.nav-link .right:after {
    transform: rotate(90deg);
    transition: .3s all ease-in-out;
}


        .dash_tabs {
            font-family: 'Poppins', sans-serif !important;
        }
        .dash_tabs .tab {
            overflow: hidden;
            border: 1px solid #D5DDE4;
        }
        .dash_tabs .tab button {
            background: #fff;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 20px;
            font-weight: 500;
            color: #666666;
            width: 50%;
        }
        .dash_tabs .tab button.active, .dash_tabs .tab button:hover {
            background: rgba(202, 10, 10, 0.12);
            color: #CA0A0A;
        }
        .dash_tabs .tabcontent {
            display: none;
            -webkit-animation: fadeEffect 1s;
            animation: fadeEffect 1s;
        }
        .tabcontent_block {
            padding: 35px 40px;
            border-bottom: 1px solid #D5DDE4;
        }
        @-webkit-keyframes fadeEffect {
            from {opacity: 0;}
            to {opacity: 1;}
        }

        @keyframes fadeEffect {
            from {opacity: 0;}
            to {opacity: 1;}
        }


        .google_custom_ads .switch {
            position: relative;
            display: inline-block;
            width: 38px;
            height: 24px;
            margin-bottom: 0;
        }

        .google_custom_ads .switch input { 
            opacity: 0;
            width: 0;
            height: 0;
        }

        .google_custom_ads .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #dadada;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .google_custom_ads .slider:before {
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 4px;
            bottom: 3px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            box-shadow: 0px 5.5px 5px -3px rgba(14, 14, 44, 0.2), inset 0px -1px 0px rgba(14, 14, 44, 0.4);
        }

        .google_custom_ads input:checked + .slider {
            background-color: #CA0A0A;
        }

        .google_custom_ads input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        .google_custom_ads input:checked + .slider:before {
            -webkit-transform: translateX(13px);
            -ms-transform: translateX(13px);
            transform: translateX(13px);
        }
        .google_custom_ads .slider.round {
            border-radius: 34px;
        }

        .google_custom_ads .slider.round:before {
            border-radius: 50%;
        }
        h1.ads_common_heading {
            font-size: 20px;
            font-weight: 500;
            color: #212121;
            margin-bottom: 10px;
        }
        .google_custom_ads {
            display: flex;
            align-items: center;
            justify-content:space-between;
            /*margin-bottom: 24px;*/
            padding: 5px 0;
        }

        h2.gca_heading {
            font-size: 16px;
            font-weight: 400;
            color: #212121;
            margin-bottom: 0
        }
        .upload_btn_wrapper {
            position: relative;
            overflow: hidden;
            /*max-width: 410px;*/
            width: 100%;
            height: 52px;
            padding: 0 10px;
            display: flex;
            align-items: center;
            color: #C1CDD7;
            font-size: 16px;
            font-weight: 400;
            justify-content: space-between;
            border: 1px solid #D5DDE4;
            border-radius: 5px;
            cursor: pointer;
            margin: 10px 0 6px;
        }

        .upload_btn_wrapper .btn_upload {
            border: 0;
            border-bottom: 2px solid #212121;
            color: #CA0A0A;
            background: #fff;
            padding: 0;
            margin: 10px 0;
            border-radius: 0;
            font-size: 16px;
            font-weight: 600;
        }

        .upload_btn_wrapper input[type=file] {
          font-size: 100px;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
        }
        p.dmnt_type {
            font-size: 12px;
            font-weight: 400;
            color: #000000;
            margin: 0;
        }

        p.dmnt_type span {
            color: #666;
        }

        .ads_input_group {
            margin-bottom: 24px;
        }
        input.custom_input {
            max-width: 410px;
            width: 100%;
            height: 52px;
            padding: 0 10px;
            display: flex;
            align-items: center;
            color: #000000;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid #D5DDE4;
            border-radius: 5px;
            margin: 10px 0 6px;
        }
        .footer_btns, .web_footer_btns {
            text-align: right;
            margin-bottom: 40px;
            padding:  40px;
        }

        button.ads_btn_cancel {
            width: 160px;
            height: 46px;
            border: 2px solid #212121;
            border-radius: 5px;
            background: #fff;
            font-size: 14px;
            font-weight: 500;
            color: #212121;
        }

        button.ads_btn_save {
            width: 160px;
            height: 46px;
            background: #CA0A0A;
            border-radius: 5px;
            color: #fff;
            border: 0;
            margin-left: 24px;
        }
        .no_border {
            border: 0;
        }
        /*.goog{
            display: none;
        }

        .googs{
            display: none;
        }
        .goog_block{
            display: block;
        }

        .custom{
            display: none;
        }
        .customs{
            display: none;
        }*/
        /*.custom_block{
            display: block;
        }*/
        .box.first {
            background: red;
            width: 100%;
            height: auto;
        }.box.second {
            background: blue;
            width: 100%;
            height: auto;
        }
        section.content .container .dash_tabs {
            background: #fff;
            box-shadow: 0px 6px 18px rgb(0 0 0 / 6%);
            border-radius: 5px;
        }

        section.content .container .dash_tabs .tab {
            overflow: hidden;
            border: 1px solid #D5DDE4;
            box-shadow: 0px 6px 18px rgb(0 0 0 / 6%);
            border-radius: 5px 5px 0px 0px;
        }
        .tabcontent_block .Google.boxes .tabcontent_block, .tabcontent_block .google.box .tabcontent_block {
            padding: 0;
        }

        .tabcontent_block .Google.boxes, .tabcontent_block .google.box, .tabcontent_block .Custom.boxes, .tabcontent_block .custom.box {
            padding: 20px 0;
            border-top: 1px solid #D5DDE4!important;
        }

        .custom .tabcontent_block, .Custom .tabcontent_block {
            padding: 0;
            margin-bottom: 15px;
        }

        .google_custom_ads.App,.google_custom_ads  {
           margin-left: 15px;
          
         }


         .google_custom_ads.App, .google_custom_ads {
           margin-left: 15px;
          }

          .google_custom_ads.App h2.gca_heading, .google_custom_ads h2.gca_heading {
                margin-right: 160px;
            }

        .tabcontent_block input.custom_input {
            max-width: initial;
            width: 98%;
        }

        .Google.boxes .footer_btns, .google.box .footer_btns, .Custom.boxes .footer_btns, 
        .custom.box .footer_btns    {
          padding: 20px 12px 0 0;
          margin: 0;
         }

         .custom.custom_block .tabcontent_block input.custom_input {
            max-width: initial;
            width: 99%;
        }



.img-error {
    font-size: 14px;
    margin-bottom: 5px;
    color: red;
}
div#ads_div label{
    margin-right: 200px;
}